:root {
  --main-page-color: #1e2328;
  --main-page-color-transparent: #1e2328de;
  --first-color-text: white;
  --second-color-text: #af9767;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
