.allContainer {
  top: 0;
  left: 0;
  gap: 5%;
  width: 100%;
  height: 50px;
  display: flex;
  color: white;
  position: fixed;
  text-align: center;
  align-items: center;
  background-color: var(--main-page-color);
  justify-content: center;
  z-index: 2;
}

.decoration {
  width: 16.6%;
  height: 20px;
  background-color: var(--second-color-text);
}

.textLink {
  width: 16.6%;
}

@media (max-width: 420px) {
  .decoration {
    width: 5%;
    height: 20px;
    background-color: var(--second-color-text);
  }
  .textLink {
    width: 30%;
  }
}
